
<div id="home-video">
  <%= video_tag("home.mp4", :autoplay => true, :muted => true, :id => "home-video") %>
  <h1 class="tag-line">Build My Business</h1>
</div>

<div>
  <%= search_form_for @search do |f| %>
    <%= f.text_field :name_or_categories_name_cont, placeholder: 'Search Our Businesses by Name or Category' %>

    <%= f.submit "Search" %>
  <% end %>
</div>

<section class='all-businesses'>
  <% @businesses.each do |business| %>
    <section class='business'>
      <div>
        <% if  business.photos.first != nil %>

        <%=image_tag business.photos.first.image.url(:square), class: "business-images" %>
        <% end %>
      </div>
      <div class='business-name'>
        <h3><%= link_to business.name, business_path(business), class: "animsition-link" %></h3>
      </div>
      <div class='business-info'>
        <h4><%=business.location%></h4>
      </div>
    </section>
  <% end %>
</section>
