<div class="your-class">
  <div><img class="covers" src="http://www.fbcoverdesign.com/wp-content/uploads/2014/08/best_destination_in_the_world-fbcoverdesign.jpg" /></div>
  <div><img class="covers" src="http://i160.photobucket.com/albums/t162/hotlyts24/fb-covers/sept13/classy/tumblr_ma3g9riU8R1r1z3kyo1_500_large.jpg" /></div>
  <div><img class="covers" src="http://www.getfbcover.com/covers-images/download/food_Dessert_breakfast.jpg" /></div>
</div>


<div>
  <legend>Search Our Businesses by Name or Category</legend>
    <%= search_form_for @search do |f| %>
      <%= f.text_field :name_or_categories_name_cont %>

      <%= f.submit "Search" %>
    <% end %>
</div>

<section class='all-businesses'>
  <% @businesses.each do |business| %>
    <section class='business'>
      <div>
        <% if  business.photos.first != nil %>

        <%=image_tag business.photos.first.image.url(:square), class: "business-images" %>
        <% end %>
      </div>
      <div class='business-name'>
        <h3><%= link_to business.name, business_path(business), class: "animsition-link" %></h3>
      </div>
      <div class='business-info'>
        <h4><%=business.location%></h4>
      </div>
    </section>
  <% end %>
</section>
