<section id='form'>
  <h1>Register Your Business</h1>

  <%= form_for @business, html: { multipart: true } do |f| %>
  <ul>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>
    <li>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </li>
    <li>
      <%= f.label 'Catgories'%>
      <%= f.collection_check_boxes :catgory_ids, Category.all, :id, :name do %>
        <ul>
          <li class='collection-check-box'>
             <%= b.check_box %>
             <%= b.label %>
          </li>
        </ul>
      <% end %>
    </li>
    <li>
      <%= f.label :photo %>
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </li>
      <%= f.hidden_field :provider, value: "buildmybusiness" %>
    <li>
      <%= f.submit %>
    </li>
  </ul>
  <% end %>
</section>
