<section>

  <h3 class= "titles">Owner: <%= link_to @business.owner.first_name, owner_path(@business.owner) %></h3>
  <div class='info'>
    <h3>Company Name: <%=@business.name%></h3>
    <h4>Location: <%=@business.location%></h4>
    <h4>Description</h4>
    <p><%=@business.description%></p>
    <ul>Categories
    <% @business.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
    </ul>
  </div>

  <div class='business-images'>
    <% @business.photos.each do |photo| %>
     <div >
       <%=image_tag photo.image.url(:square), class: "biz-pic" %>
     </div>
    <% end %>
  </div>

  <div>
    <% if @business.editable_by? current_user %>
      <%= link_to 'edit', edit_business_path(@business)%>
      <%= link_to 'submit an update', new_business_status_update_path(@business) %>
    <% end %>
  </div>


  <%= render partial: 'partials/matching', locals: { user: @owner }%>

  <div>
    <h4>Status: <%=@business.status %></h4>
  </div>

  <% @business.status_updates.each do |update| %>
    <%= render partial: 'partials/status_update', locals: { business: @business }%>
  <% end %>


  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
     markers = handler.addMarkers(<%=raw @map_data.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
  </script>


</section>
