<section>
  <div class='business-images'>
    <% @business.photos.each do |photo| %>
     <div>
       <%=image_tag photo.image.url(:square) %>
     </div>
    <% end %>
  </div>

  <div class='info'>
     <h3><%=@business.name%></h3>
     <h4>Location: <%=@business.location%></h4>
     <h4>Category<%=@business.category%></h4>
     <p><%=@business.description%></p>
  </div>
  <div>
    <% if @business.editable_by? current_user %>
      <%= link_to 'edit', edit_business_path(@business)%>
    <% end %>
  </div>

  <div>
    <h4>Interested?</h4>
  </div>

  <div>
    <h4>Status</h4>
  </div>
</section>
