<section>
  <div class='container'>
  <div class='info'>
    <ul>
      <li>
        <h1> <%=@business.name%> </h1>
      </li>
      <hr>
      <li>
        <h3 class= "titles">  Owned by <%= link_to @business.owner.first_name, owner_path(@business.owner) %></h3>
      </li>

      <li>
        <h4 class= >Location <%=@business.location%></h4>
      </li>
      <hr>
      <li>
        <h4>About this business</h4>
        <h4> <%=@business.description%></h4>
      </li>
      Categories
    <% @business.categories.each do |cat| %>
      <li><h5><%= cat.name %></h5></li>
    <% end %>


    <%= render partial: 'partials/matching', locals: { user: @owner }%>

    <li>
      <h4>Status: <%=@business.status %></h4>
    </li>

  </ul>
  <div class='status-containter'>
    <%= render partial: 'partials/status_update', locals: {business: @business }%>
  </div>


  <div class="info">
    <ul>
    <% if @business.editable_by? current_user %>
      <li><%= link_to 'Edit Business', edit_business_path(@business)%></li>
      <li><%= link_to 'Submit an Update', new_business_status_update_path(@business) %></li>
    <% end %>
  </ul>
  </div>
  </div>

  <div class='business-images business-images-show'>
    <% @business.photos.each do |photo| %>
     <div >
       <%=image_tag photo.image.url(:square), class: "biz-pic" %>
     </div>
    <% end %>
  </div>



  <div id='business-location'>
      <div id="map"></div>
    </div>
  </div>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
     markers = handler.addMarkers(<%=raw @map_data.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    });
  </script>

</div>
</section>
