<h1> Create a new message:</h1>

<%= form_for [@user, @message] do |f| %>
<fieldset>
  <legend> Send your message here</legend>
  <div>
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
    <%= f.hidden_field :to_user, value: @user %>
  <div>
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
