<section id='form'>
  <%= form_for @developer, html: { multipart: true } do |f| %>

  <h1>Sign Up</h1>

  <div id="facebook-link">
    <%= link_to image_tag("FB-logo.png", class: "logo-button"), "/auth/facebook"%>
    <%= link_to "Sign Up with Facebook", "/auth/facebook", class: "facebook-button" %>
  </div>

  <div id="github-link">
    <%= link_to image_tag("GH-logo.png", class: "logo-button"), "/auth/facebook"%>
    <%= link_to "Sign Up with Github", "/auth/github", class: "github-button" %>
  </div>

    <ul>
      <li>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </li>
      <li>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </li>
      <li>
        <%= f.label :uid, value="Email" %>
        <%= f.text_field :uid %>
      </li>
      <li>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </li>
      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </li>
      <li>
        <%= label_tag :skills, 'Add Your Skills (comma separated)' %>
        <%= text_area_tag :skills, nil %>
      </li>
      <li>
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      </li>
      <%= f.hidden_field :provider, value: "buildmybusiness" %>
      <li>
      <%= f.submit %>
      </li>
    </ul>
  <% end %>

  <% if @developer.errors.any? %>
    <div class="error_report">
      <% @developer.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>
</section>
