<section>

  <h1> <%= @developer.first_name%> <%= @developer.last_name%></h1>
  <h3><%= @developer.location %></h3>
  <h4>About Me <%= @developer.description %></h4>

  <% if has_avatar? @developer %>
    <%= link_to image_tag(@developer.avatar.url(:thumb)), @developer.avatar.url %>
  <% elsif @auth &&  @developer.id == current_user.id%>
    <%= image_tag(@auth['info']['image'], class: 'profile-pic') %>
  <% else %>
    <%= image_tag "blank-profile-pic.png", class: 'profile-pic' %>
  <% end %>

  <ul>
  <% @developer.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
  </ul>

  <%= link_to "My projects", "/developers/#{@developer.id}/projects" %>

  <h3>Contact Me</h3>
  <% if @developer.slack_id %>
  <h4>Slack @<%= @developer.slack_id %></h4>
  <% end %>
  <h4>E-mail <%= @developer.uid %></h4>
  <% if @developer.skype_id %>
  <h4>Skype @<%= @developer.skype_id %></h4>
  <% end %>
  <% if @developer.phone_number %>
  <h4>Phone <%= @developer.phone_number %></h4>
  <% end %>

  <% if current_user && @developer.editable_by?(current_user) %>
    <%= link_to 'Edit Profile', edit_developer_path(@developer) %>
  <% end %>

  <% if current_user && ! @developer.reviewed?(current_user) %>
    <%= link_to "Leave Review", new_developer_review_path(@developer) %>
  <% end %>

  <h2><%= @developer.first_name%>'s Reviews</h2>

  <% if @developer.received_reviews %>
    <% @developer.received_reviews.each do |review| %>
      <%= render partial: 'partials/review', locals: {review: review}%>
    <% end %>
  <% end %>

 <%= render partial: 'partials/matching', locals: {user: @developer}%>

</section>
