<section>

<div class='container'>
  <div class='info'>
  <h1> <%= @developer.first_name%> <%= @developer.last_name%></h1>
  <hr>
  <h3><%= @developer.location %></h3>
  <h4>About Me <%= @developer.description %></h4>

  <% if has_avatar? @developer %>
    <%= link_to image_tag(@developer.avatar.url(:thumb)), @developer.avatar.url %>
  <% elsif @auth &&  @developer.id == current_user.id%>
    <%= image_tag(@auth['info']['image'], class: 'profile-pic') %>
  <% else %>
    <%= image_tag "blank-profile-pic.png", class: 'profile-pic' %>
  <% end %>

  <ul>
  <% @developer.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
  </ul>

  <p class='project-link'><%= link_to "My projects", "/developers/#{@developer.id}/projects" %></p>
  <br>
  <hr>
  <h3>Contact Me</h3>
  <% if @developer.slack_id %>
    <h4>Slack @<%= @developer.slack_id %></h4>
  <% end %>
  <h4>E-mail <%= @developer.uid %></h4>
  <% if @developer.skype_id %>
    <h4>Skype @<%= @developer.skype_id %></h4>
  <% end %>
  <% if @developer.phone_number %>
  <h4>Phone <%= @developer.phone_number %></h4>
  <% end %>


  <% if current_user %>
    <% if @developer.id != current_user.id %>
    <%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @developer.id), method: "post", "data-sid" => current_user.id, "data-rip" => @developer.id %>
    <% end %>
  <% end %>

  <% if current_user && @developer.editable_by?(current_user) %>
    <%= link_to 'Edit Profile', edit_developer_path(@developer) %>
  <% end %>

    <%= render partial: 'partials/matching', locals: {user: @developer}%>

    <br>
    <hr>

  <h2 class='review-title'><%= @developer.first_name%>'s Reviews</h2>

  <% if (current_user != @developer) && (current_user && ! @developer.reviewed?(current_user)) %>
    <div class='dev-review'>
      <%= link_to "Leave Review", new_developer_review_path(@developer) %>
    </div>
  <% end %>

  <% if @developer.received_reviews %>
    <% @developer.received_reviews.each do |review| %>
    <div id="review-box">
      <%= render partial: 'partials/review', locals: {review: review}%>
    </div>
    <br>
    <% end %>
  <% end %>

 </div>
</div>

</section>
