<section>
  <h1> <%=@developer.first_name%></h1>
  <h3><%=@developer.location%></h3>
  <h4>Bio: <%= @developer.description %></h4>
  <% if has_avatar? @developer %>
    <%= link_to image_tag(@developer.avatar.url(:thumb)), @developer.avatar.url %>
  <% elsif @auth %>
    <%= image_tag(@auth['info']['image'], class: 'profile-pic') %>
  <% else %>
    <%= image_tag "blank-profile-pic.png", class: 'profile-pic' %>
  <% end %>
  <ul>
  <% @developer.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
  </ul>

  <% if @developer.editable_by?(current_user) %>
    <%= link_to 'edit', edit_developer_path(@developer) %>
  <% end %>

<% if ! @developer.reviewed?(current_user) %>
  <%= link_to "leave review", new_developer_review_path(@developer) %>
  <% end %>

  <% if @developer.received_reviews %>
  <% @developer.received_reviews.each do |review| %>
  <div id="review-box">

  <p><%= review.comment %> | by: <%= review.reviewer.first_name%> - <%=review.reviewer.type%></p>

<h5>Timeliness
  <div class="star-ratings-css">
    <div class="star-ratings-css-top" style="width: <%=review.timeliness_rating * 20%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  </div>
</h5>

<h5>Work Quality
  <div class="star-ratings-css">
    <div class="star-ratings-css-top" style="width: <%=review.quality_rating * 20%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  </div>
</h5>

<h5>Communication
  <div class="star-ratings-css">
    <div class="star-ratings-css-top" style="width: <%=review.communication_rating * 20%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  </div>
</h5>
</div>
  <% end %>
  <% end %>



<br/><br/>
</section>
