<section>
  <h1> <%= @developer.first_name%> <%= @developer.last_name%></h1>
  <h3><%= @developer.location%></h3>
  <h4>About Me <%= @developer.description %></h4>
  <% if has_avatar? @developer %>
    <%= link_to image_tag(@developer.avatar.url(:thumb)), @developer.avatar.url %>
  <% elsif @auth &&  @developer.id == current_user.id%>
    <%= image_tag(@auth['info']['image'], class: 'profile-pic') %>
  <% else %>
    <%= image_tag "blank-profile-pic.png", class: 'profile-pic' %>
  <% end %>
  <ul>
  <% @developer.skills.each do |skill| %>
    <li><%= skill.name %></li>
  <% end %>
  </ul>

  <% if current_user && @developer.editable_by?(current_user) %>
    <%= link_to 'edit', edit_developer_path(@developer) %>
  <% end %>

  <% if current_user && ! @developer.reviewed?(current_user) %>
    <%= link_to "leave review", new_developer_review_path(@developer) %>
  <% end %>

  <% if @developer.received_reviews %>
    <% @developer.received_reviews.each do |review| %>
      <%= render partial: 'partials/review', locals: {review: review}%>
    <% end %>
  <% end %>

 <%= render partial: 'partials/matching', locals: {user: @developer}%>

</section>
