
<section id='form'>
  <%= form_tag session_path do %>

  <%= link_to image_tag("FB-logo.png"), "/auth/facebook", class: "logo-button"%>
  <%= link_to "Sign Up with Facebook", "/auth/facebook", class: "facebook-button" %>
  <br>
  <%= link_to image_tag("GH-logo.png"), "/auth/facebook", class: "logo-button"%>
  <%= link_to "Sign Up with Github", "/auth/github", class: "github-button" %>

  <h4>Log in</h4>
  <ul>
    <li>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>
    <li>
      <%= submit_tag 'Log in', class: 'button' %>
    </li>
  </ul>

  <% end %>
</section>
