<section id='form'>

  <h1>Log in</h1>

  <div id="facebook-link">
    <%= link_to image_tag("FB-logo.png", class: "logo-button"), "/auth/facebook"%>
    <%= link_to "Sign Up with Facebook", "/auth/facebook", class: "facebook-button" %>
  </div>
  <br>
  <div id="github-link">
    <%= link_to image_tag("GH-logo.png", class: "logo-button"), "/auth/facebook"%>
    <%= link_to "Sign Up with Github", "/auth/github", class: "github-button" %>
  </div>

  <br>

  <%= form_tag session_path do %>
    <ul>
    <li>
      <%= label :uid, value="Email" %>
      <%= text_field_tag :uid %>
    </li>
    <li>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </li>

    <li>
      <%= submit_tag 'Log in', class: 'button' %>
    </li>
  </ul>

  <% end %>
</section>
