<section>

<div class='container'>
  <div class='info'>
  <h1><%= @owner.first_name %> <%= @owner.last_name %></h1>
  <h3><%= @owner.location %></h3>
  <h4>About Me <%= @owner.description %></h4>


  <% if has_avatar?(@owner) %>
    <%= image_tag(@owner.avatar.instance.avatar_file_name, class: 'user-profile-pg') %>
  <% elsif @auth &&  @owner.id == current_user.id %>
      <%= image_tag(@auth['info']['image'], class: 'user-profile-pg') %>
  <% else %>
    <%= image_tag "blank-profile-pic.png", class: 'user-profile-pg' %>
  <% end %>

  <hr>

  <h3>Contact Me</h3>
  <% if @owner.slack_id %>
    <h4>Slack @<%= @owner.slack_id %></h4>
  <% end %>
    <h4>E-mail <%= @owner.uid %></h4>
  <% if @owner.skype_id %>
    <h4>Skype @<%= @owner.skype_id %></h4>
  <% end %>
  <% if @owner.phone_number %>
    <h4>Phone <%= @owner.phone_number %></h4>
  <% end %>

  <% if current_user && (@owner.business && @owner.editable_by?(current_user)) %>
    <div class= "show-biz" >
    <h3> <%= @owner.first_name %>'s business: </h3>
    <%= link_to @owner.business.name, business_path(@owner.business) %>
    <p><%= @owner.business.description %></p>
    </div>

    <div class='links-to'>
      <p><%= link_to 'Edit Profile', edit_owner_path(@owner) %></p>
      <p><%= link_to 'Edit Business', edit_business_path(@owner.business) %></p>
    </div>
  <% elsif current_user && @owner.editable_by?(current_user) %>
    <div class='links-to'>
      <p><%= link_to 'Edit Profile', edit_owner_path(@owner) %></p>
      <p><%=link_to 'Create Business Page', new_business_path %></p>
    </div>
  <% end %>


  <% if current_user != @owner && current_user != nil %>
    <div class=”item”>
      <%= @owner.first_name %> <%= link_to "Contact Me", conversations_path(sender_id: current_user.id, recipient_id: @owner.id), method: "post"%>
    </div>
  <% end %>
  </div>
</div>
</section>
