<div id="review-box">


  <% if has_avatar? review.reviewer %>
    <%= link_to image_tag(review.reviewer.avatar.url(:thumb)), review.reviewer.avatar.url%>
  <% elsif @auth &&  review.reviewer.id == current_user.id %>
        <%= image_tag(@auth['info']['image'], class: 'profile-pic') %>
  <% else %>
    <%= image_tag "blank-profile-pic.png", class: 'profile-pic' %>
  <% end %>
  <h4><%= review.reviewer.first_name %></h4>
  <p><%= review.comment %></p>

  <h5>Communication
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" style="width: <%=review.communication_rating * 25%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>
  </h5>

  <h5>Work Quality
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" style="width: <%=review.quality_rating * 25%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>
  </h5>

  <h5>Timeliness
    <div class="star-ratings-css">
      <div class="star-ratings-css-top" style="width: <%=review.timeliness_rating * 25%>%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
      <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
    </div>
  </h5>
  
</div>


