<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <title>BuildMyBusiness</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header">
    <h1 id="header-title"><%= link_to 'BuildMyBusiness', root_path%></a></h1>
    <nav>
        <%= link_to 'Home', root_path %>
        <% if current_user %>
          <%= link_to current_user.first_name, user_path(current_user) %>
          <%= link_to 'Logout', session_path, method: :delete %>
        <% else %>
          <%= link_to 'Business Registration', new_owner_path%>
          <%= link_to 'Become Our Developer', new_developer_path%>
          <%= link_to 'Login', new_session_path%>
        <% end %>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
