<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title>BuildMyBusiness</title>

   <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>


</head>
<body>
  <div id='wrap' class='animsition'>
    <header id="header">
      <div class='container  clearfix'>
        <h1 id="header-title"><%= link_to 'BuildMyBusiness', root_path%></a></h1>
        <nav id ="navbar">
            <% if current_user %>
              <%= link_to "Developers", developers_path %>
              <%= link_to current_user.first_name, user_path(current_user) %>
              <%= link_to 'Inbox', conversations_path %>
              <%= link_to 'Logout', session_path, method: :delete %>
            <% else %>
            Sign up as a
              <%= link_to 'Business', new_owner_path%>
              <%= link_to 'Developer', new_developer_path%>
              <%= link_to 'Login', new_session_path%>
            <% end %>
        </nav>
      </div>
    </header>

    <div class='container'>
    <%= yield %>
    </div>
  </div>

  <footer id = "footer">
    <div id = "footer-bar">
       <%= link_to "About", about_path %>
    </div>
  </footer>
</body>
</html>

